.git
.github
.env
.env.*
.staging
.venv
venv
artifacts

**/__pycache__
**/*.py[cod]
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
**/.DS_Store

frontend/node_modules
frontend/dist
frontend/coverage
node_modules
